# api
api/target/
api/pom.xml.tag
api/pom.xml.releaseBackup
api/pom.xml.versionsBackup
api/pom.xml.next
api/release.properties
api/dependency-reduced-pom.xml
api/buildNumber.properties
api/.mvn/timing.properties

# Avoid ignoring Maven wrapper jar file (.jar files are usually ignored)
!/api/.mvn/wrapper/maven-wrapper.jar

# loadtester
loadtester/.terraform/
loadtester/terraform.tfstate
loadtester/terraform.tfstate.backup
loadtester/terraform.tfvars
loadtester/ssh/ssh-key
loadtester/ssh/ssh-key.pub
